.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.styled-table {
  width: calc(100% - 100px);

  border-collapse: collapse;

  margin: 50px;

  font-size: 0.9em;
  font-family: Verdana;

  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);

  border-radius: 0.4em;
  overflow: hidden;
}

.styled-table thead tr {
  background: #3774ff;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 16px 24px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #c1c1c1;
}

.styled-table tbody tr:nth-of-type(even) {
  background: #f9f9f9;
}

.styled-table tbody tr:last-child {
  border-bottom-width: 0px;
}

.styled-table tbody tr:hover {
  background: #f2f2f2;
}



/* customize page */
.form{
  

}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}